@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-red-400 underline; /* Or any other shade of blue like text-blue-500, text-indigo-600 */
  }

  a:hover {
    @apply text-red-900; /* Optional: A darker shade on hover */
  }
}
